
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'achatMaterielDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'achatMaterielDetail.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'achatMaterielDetail.produit' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatMaterielDetail.produit' | translate}}" autofocus  id="1" [ngModel]="item.produit?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'achatMaterielDetail.qteAchetee' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'achatMaterielDetail.qteAchetee' | translate}}" [ngModel]="item.qteAchetee"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'achatMaterielDetail.qteRecue' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'achatMaterielDetail.qteRecue' | translate}}" [ngModel]="item.qteRecue"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'achatMaterielDetail.qteLivree' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'achatMaterielDetail.qteLivree' | translate}}" [ngModel]="item.qteLivree"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'achatMaterielDetail.achatMateriel' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'achatMaterielDetail.achatMateriel' | translate}}" autofocus  id="5" [ngModel]="item.achatMateriel?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



