        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'inventaireDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'inventaireDetail.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'inventaireDetail.qteCalculee' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'inventaireDetail.qteCalculee' | translate}}" [(ngModel)]="item.qteCalculee" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailQteCalculee}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validInventaireDetailQteCalculee'>QteCalculee est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'inventaireDetail.qteStock' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'inventaireDetail.qteStock' | translate}}" [(ngModel)]="item.qteStock" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailQteStock}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validInventaireDetailQteStock'>QteStock est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'inventaireDetail.ecart' | translate}}<span style="color: red;">*</span></label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'inventaireDetail.ecart' | translate}}" [(ngModel)]="item.ecart" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailEcart}"  >
                                                    </p-inputNumber>
                                                    <small class='p-error' *ngIf='!validInventaireDetailEcart'>Ecart est obligatoire.</small>
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'inventaireDetail.magasin' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'inventaireDetail.magasin' | translate}}" id="4" [(ngModel)]="item.magasin"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailMagasin}"  />
                                                    <small class='p-error' *ngIf='!validInventaireDetailMagasin'>Magasin est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'inventaireDetail.produit' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="item.produit" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'inventaireDetail.produit' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailProduit}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validInventaireDetailProduit'>Produit est obligatoire.</small>
                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="6">{{'inventaireDetail.inventaire' | translate}}<span style="color: red;">*</span></label>
                                                <p-dropdown  appendTo="body"  [options]="inventaires" [(ngModel)]="item.inventaire" id="6" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'inventaireDetail.inventaire' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validInventaireDetailInventaire}"  >
                                                </p-dropdown>
                                                <small class='p-error' *ngIf='!validInventaireDetailInventaire'>Inventaire est obligatoire.</small>
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
