
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'responsableInventaire.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'responsableInventaire.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'responsableInventaire.nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'responsableInventaire.nom' | translate}}" autofocus  id="1" [ngModel]="item.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'responsableInventaire.prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'responsableInventaire.prenom' | translate}}" autofocus  id="2" [ngModel]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'responsableInventaire.login' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'responsableInventaire.login' | translate}}" autofocus  id="3" [ngModel]="item.login">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'responsableInventaire.mdp' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'responsableInventaire.mdp' | translate}}" autofocus  id="4" [ngModel]="item.mdp">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



