    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'receptionDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'receptionDetail.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'receptionDetail.qte' | translate}}<span style="color: red;">*</span></label>
                                            <p-inputNumber class="mb-2 mr-2" id="1" placeholder="{{'receptionDetail.qte' | translate}}" [(ngModel)]="item.qte" [ngClass]="{'ng-invalid ng-dirty' : !validReceptionDetailQte}"  >
                                            </p-inputNumber>
                                            <small class='p-error' *ngIf='!validReceptionDetailQte'>Qte est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'receptionDetail.magasin' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="magasins" [(ngModel)]="item.magasin" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'receptionDetail.magasin' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validReceptionDetailMagasin}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validReceptionDetailMagasin'>Magasin est obligatoire.</small>
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'receptionDetail.produit' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="produits" [(ngModel)]="item.produit" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="libelle" placeholder="{{'receptionDetail.produit' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validReceptionDetailProduit}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validReceptionDetailProduit'>Produit est obligatoire.</small>
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'receptionDetail.reception' | translate}}<span style="color: red;">*</span></label>
                                        <p-dropdown  appendTo="body"  [options]="receptions" [(ngModel)]="item.reception" id="4" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="ref" placeholder="{{'receptionDetail.reception' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validReceptionDetailReception}"  >
                                        </p-dropdown>
                                        <small class='p-error' *ngIf='!validReceptionDetailReception'>Reception est obligatoire.</small>
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
