
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'receptionDetail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'receptionDetail.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'receptionDetail.qte' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'receptionDetail.qte' | translate}}" [ngModel]="item.qte"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'receptionDetail.magasin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'receptionDetail.magasin' | translate}}" autofocus  id="2" [ngModel]="item.magasin?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'receptionDetail.produit' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'receptionDetail.produit' | translate}}" autofocus  id="3" [ngModel]="item.produit?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'receptionDetail.reception' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'receptionDetail.reception' | translate}}" autofocus  id="4" [ngModel]="item.reception?.ref">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



